In [1]:
import pandas as pd
from matplotlib import pyplot as plt

import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("KS_train_w_vader.csv")

In [3]:
df.head(5)

,blurb,staff_pick,funded,days_to_launch,days_to_dealine,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,...,is_2012,is_2013,is_2014,is_2015,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg
0,I will be an artist-in-residence at Elsewhere ...,False,True,81,22,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
1,1000 Artists is a public art-making installati...,False,True,24,40,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",False,True,7,60,True,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
3,A film exploring the role and value of art edu...,False,True,8,21,True,False,False,False,False,...,True,False,False,False,False,False,False,True,False,False
4,We need to build a kitchen for Habitable Space...,False,True,52,30,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False

In [4]:
df['blurb'].fillna(" ", inplace=True)

In [5]:
for index, value in df['blurb'].items():
    s = "".join([ c if c.isalpha() else " " for c in value ])
    s = s.lower()
    
    df.at[index, 'clean_blurb'] = s

In [6]:
df.head(5)

,blurb,staff_pick,funded,days_to_launch,days_to_dealine,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,...,is_2013,is_2014,is_2015,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,clean_blurb
0,I will be an artist-in-residence at Elsewhere ...,False,True,81,22,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,i will be an artist in residence at elsewhere ...
1,1000 Artists is a public art-making installati...,False,True,24,40,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,artists is a public art making installati...
2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",False,True,7,60,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,the sequel to my favorite machine myphoneh...
3,A film exploring the role and value of art edu...,False,True,8,21,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,a film exploring the role and value of art edu...
4,We need to build a kitchen for Habitable Space...,False,True,52,30,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,we need to build a kitchen for habitable space...

In [18]:
X = df.clean_blurb
y = df.funded

In [19]:
X.fillna(" ", inplace=True)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [21]:
vectorizer = CountVectorizer()
counts = vectorizer.fit_transform(X_train.values)

In [22]:
classifier = MultinomialNB(alpha=1)
targets = y_train.values
classifier.fit(counts, targets)

MultinomialNB(alpha=1, class_prior=None, fit_prior=True)

In [23]:
example_count = vectorizer.transform(X_test.values)
predictions = classifier.predict(example_count)

In [24]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

       False       0.64      0.60      0.62      4122
        True       0.71      0.74      0.72      5442

    accuracy                           0.68      9564
   macro avg       0.67      0.67      0.67      9564
weighted avg       0.68      0.68      0.68      9564

In [25]:
example_count = vectorizer.transform(X.values)
x = classifier.predict_proba(example_count)
# print(x)
i = 0

for row in x:
    df.at[i, 'blurb_bayes'] = row[1]
    i+=1

In [26]:
df.head(10)

,blurb,staff_pick,funded,days_to_launch,days_to_dealine,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,...,is_2014,is_2015,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,clean_blurb,blurb_bayes
0,I will be an artist-in-residence at Elsewhere ...,False,True,81,22,True,False,False,False,False,...,False,False,False,False,False,False,True,False,i will be an artist in residence at elsewhere ...,0.770405
1,1000 Artists is a public art-making installati...,False,True,24,40,True,False,False,False,False,...,False,False,False,False,False,False,True,False,artists is a public art making installati...,0.913929
2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",False,True,7,60,True,False,False,False,False,...,False,False,False,False,False,True,False,False,the sequel to my favorite machine myphoneh...,0.660800
3,A film exploring the role and value of art edu...,False,True,8,21,True,False,False,False,False,...,False,False,False,False,False,True,False,False,a film exploring the role and value of art edu...,0.993950
4,We need to build a kitchen for Habitable Space...,False,True,52,30,True,False,False,False,False,...,False,False,False,False,False,False,True,False,we need to build a kitchen for habitable space...,0.623790
5,Source Material is 2 person exhibition of the ...,False,True,21,36,True,False,False,False,False,...,False,False,False,False,False,False,True,False,source material is person exhibition of the ...,0.999404
6,An anthropological field study of the Dwarven ...,False,True,3,12,True,False,False,False,False,...,False,False,False,False,False,False,True,False,an anthropological field study of the dwarven ...,0.957428
7,Portrait artist seeks funds to kickstart an ex...,True,True,18,33,True,False,False,False,False,...,False,False,False,False,False,True,False,False,portrait artist seeks funds to kickstart an ex...,0.642129
8,This is a month long Residency at the The Verm...,True,True,11,45,True,False,False,False,False,...,False,False,False,False,False,True,False,False,this is a month long residency at the the verm...,0.979062
9,"Art, Music, and Theater live on the Waterfront...",False,True,22,30,True,False,False,False,False,...,False,False,False,False,False,True,False,False,art music and theater live on the waterfront...,0.931338

In [27]:
df['funded'].corr(df['blurb_bayes'])

0.5531690732089908

In [28]:
df = df.drop(['clean_blurb', 'blurb'], axis=1)

In [29]:
df.head(10)

,staff_pick,funded,days_to_launch,days_to_dealine,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,is_cat_food,...,is_2013,is_2014,is_2015,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,blurb_bayes
0,False,True,81,22,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.770405
1,False,True,24,40,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.913929
2,False,True,7,60,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.660800
3,False,True,8,21,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.993950
4,False,True,52,30,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.623790
5,False,True,21,36,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.999404
6,False,True,3,12,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.957428
7,True,True,18,33,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.642129
8,True,True,11,45,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.979062
9,False,True,22,30,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.931338

In [30]:
df.to_csv('KS_train_w_vader_bayes.csv', index=False)