In [3]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [4]:
analyser = SentimentIntensityAnalyzer()

In [22]:
df = pd.read_csv("KS_train_data_clean_1.0.csv")

In [23]:
df.head(5)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,launched_year
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,2012
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,2012
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,2012
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,2012
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,2012

In [24]:
# df['sentiment'] = analyser.polarity_scores(df['blurb'].str)['compound']

df['blurb'].fillna(" ", inplace=True)

for index, value in df['blurb'].items():
    s = analyser.polarity_scores(value)
    df.at[index, 'sentiment_pos'] = s['pos']
    df.at[index, 'sentiment_neu'] = s['neu']
    df.at[index, 'sentiment_neg'] = s['neg']

In [25]:
df.head(10)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,launched_year,sentiment_pos,sentiment_neu,sentiment_neg
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,2012,0.000,1.000,0.0
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,2012,0.000,1.000,0.0
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,2012,0.358,0.642,0.0
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,2012,0.107,0.893,0.0
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,2012,0.000,1.000,0.0
5,5,Source Material is 2 person exhibition of the ...,art,US,USD,1.0,600.0,False,"Houston, TX",True,painting,21,36,2012,0.000,1.000,0.0
6,6,An anthropological field study of the Dwarven ...,art,US,USD,1.0,2000.0,False,"Chicago, IL",True,art,3,12,2012,0.000,1.000,0.0
7,7,Portrait artist seeks funds to kickstart an ex...,art,US,USD,1.0,10000.0,True,"New Britain, CT",True,painting,18,33,2012,0.158,0.842,0.0
8,8,This is a month long Residency at the The Verm...,art,US,USD,1.0,2800.0,True,"Johnson, VT",True,painting,11,45,2012,0.095,0.905,0.0
9,9,"Art, Music, and Theater live on the Waterfront...",art,US,USD,1.0,5000.0,False,"Seattle, WA",True,public art,22,30,2012,0.292,0.708,0.0

In [26]:
correlations = df['funded'].corr(df['sentiment_pos'])
print(correlations)

-0.03579106823338948

In [27]:
correlations = df['funded'].corr(df['sentiment_neu'])
print(correlations)

0.015698892272167378

In [28]:
correlations = df['funded'].corr(df['sentiment_neg'])
print(correlations)

0.03344830688190493

In [29]:
df['sentiment_pos'].max()

1.0

In [30]:
df['sentiment_pos'].min()

0.0

In [31]:
df['sentiment_neg'].min()

0.0

In [32]:
df['sentiment_neg'].max()

1.0