In [1]:
import pandas as pd
from matplotlib import pyplot as plt

import numpy as np

In [3]:
df = pd.read_csv("KS_train_data_clean_1.0.csv")

In [4]:
df.head(5)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30

In [5]:
df['is_country_us'] = df['country'] == 'US'

In [6]:
df.head(5)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,is_country_us
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,True
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,True
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,True
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,False
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,True

In [7]:
df = df.drop(['country'], axis=1);

In [8]:
df.head(5)

,Unnamed: 0,blurb,category,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,is_country_us
0,0,I will be an artist-in-residence at Elsewhere ...,art,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,True
1,1,1000 Artists is a public art-making installati...,art,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,True
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,True
3,3,A film exploring the role and value of art edu...,art,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,False
4,4,We need to build a kitchen for Habitable Space...,art,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,True

In [9]:
correlations = df['funded'].corr(df['is_country_us'])
print(correlations)

0.08638446258207251

In [10]:
correlations = df['staff_pick'].corr(df['is_country_us'])
print(correlations)

0.0050946104154787255

In [11]:
correlations = df['staff_pick'].corr(df['funded'])
print(correlations)

0.25541997492301033

In [12]:
df['is_location_la'] = df['location'] == 'Los Angeles, CA'

In [13]:
correlations = df['funded'].corr(df['is_location_la'])
print(correlations)

0.047168701745873995

In [2]:
df = pd.read_csv("KS_final_train.csv")

In [3]:
correlations = df['is_2009'].corr(df['funded'])
print(correlations)

0.026319837534695772

In [4]:
correlations = df['is_2010'].corr(df['funded'])
print(correlations)

0.09888065469845676

In [5]:
correlations = df['is_2011'].corr(df['funded'])
print(correlations)

0.14857904315204304

In [6]:
correlations = df['is_2012'].corr(df['funded'])
print(correlations)

0.15302706159648247

In [7]:
correlations = df['is_2013'].corr(df['funded'])
print(correlations)

0.14871855330584854

In [8]:
correlations = df['is_2014'].corr(df['funded'])
print(correlations)

-0.12352471693546055

In [9]:
correlations = df['is_2015'].corr(df['funded'])
print(correlations)

-0.19202750448220776

In [10]:
correlations = df['is_2016'].corr(df['funded'])
print(correlations)

-0.07753192971564316

In [11]:
correlations = df['is_2017'].corr(df['funded'])
print(correlations)

-0.01171342107845478

In [12]:
correlations = df['is_2018'].corr(df['funded'])
print(correlations)

0.006398541358101657